html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  display: block;
  width: 100svw;
  height: 100svh;
}

h1 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

.menu {
  background-color: white;
  height: max-content;
  width: max-content;
  padding: 1rem;
  border-radius: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.all-fish {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .fish {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    position: relative;
    width: min-content;

    & .fish-image {
      width: 10rem;
    }

    & .info-container {
      position: relative;
      display: inline-block;

      & .info {
        display: none;
        position: absolute;
        top: 25px;
        right: 0;
        background-color: #8fb5d6;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 200px; /* Adjust width */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
      }
    }
  }
}

.all-fish .fish .info-icon:hover + .info {
  display: block;
}

.button {
  display: flex;
  justify-content: center;
}

/* Menu Lines (Hamburger Menu) */
.menu-lines {
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  z-index: 2;
}

.menu-lines span {
  width: 3rem;
  height: 0.3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Transform to X */
.menu-lines.active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 3px);
}

.menu-lines.active span:nth-child(2) {
  opacity: 0;
}

.menu-lines.active span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}

/* Menu Visibility */
.menu {
  display: none;
  position: absolute;
  top: 4rem;
  right: 1rem;
  background: white;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu.active {
  display: block;
}
